Package: siakhooi-ore
Version: 0.4.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash
Architecture: amd64
Homepage: <https://github.com/siakhooi/ore>
Description: tools to automatically download,distribute,housekeep artifacts from various sources
