Package: siakhooi-ore
Version: 0.20.1
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: bash, coreutils, siakhooi-devutils-echo-colors, siakhooi-textutils, bsdextrautils, sed, findutils
Architecture: amd64
Homepage: <https://github.com/siakhooi/ore>
Description: tools to automatically download,distribute,housekeep artifacts from various sources
